.forget-pass {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0 0 70px;
}

.forget-pass form {
  background-color: $second-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 320px;
  padding: 30px;
  border-radius: 10px;
}

.forget-pass form button {
  margin: 20px 0px;
  padding: 10px 40px;
  background-color: $primary-button;
  border: none;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.forget-pass form button:hover {
  background: $accent;
}

.forget-pass form .success {
    margin: 10px;
}

.forget-pass form .error {
    color: $error;
    font-size: 0.9em;
    text-align: center;
}
  