header {
  width: 100vw;
  position: fixed;
  z-index: 2;
  padding: 10px  30px;
  transition: 0.5s;
}

header.active {
  background-color: $second-background;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

header .logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo-menu img {
  height: auto;
  width: 150px;
  cursor: pointer;
}

header .logo-menu button {
  border: none;
  background-color: $primary-button;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 1.8em;
  width: 55px;
}

header .navlinks ul {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .navlinks ul li {
  margin: 5px 0;

}

header .navlinks ul li a {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

header .navlinks ul li a svg {
  margin: 0px 10px;
}

header .navlinks ul li .links:before,
  a:after {
    content: "";
    position: absolute;
    height: 5px;
    width: 0;
    background-color: $primary-button;
    transition: 0.5s;
}

header .navlinks ul li .links:after {
    left: 0;
    bottom: 0px;
}

header .navlinks ul li .links:before {
    right: 0;
    top: 0px;
}

header .navlinks ul li .links:hover {
    color: $accent;
}

header .navlinks ul button {
  padding: 15px 60px;
  border-radius: 20px;
  border: none;
  background-color: $primary-button;
  font-size: 1.1em;
  transition: 0.5s;
  cursor: pointer;
}

header .navlinks ul button:hover {
  background: $accent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  margin: 2px 10px 0px 0px;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  background-color: $second-background;
  min-width: 160px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content .user .user-info {
  width: 100%;
  height: 60px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown-content .user .user-info .email {
  font-size: 0.8em;
  margin: 5px 0px;
}

.dropdown-content .user .underline {
  width: 100%;
  height: 2px;
  background-color: $accent;
}

.dropdown-content .options {
  padding: 5px;
}

.dropdown-content a {
  text-align: center;
  cursor: pointer;
  color: $text;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.8em;
}

.dropdown-content a:hover {
  border-radius: 5px;
  background-color: $accent;
}

@media screen and (min-width: $large-screen) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .logo-menu button {
    display: none;
  }

  header .navlinks ul {
    height: 0;
    flex-direction: row;
  }

  header .navlinks ul li {
    margin: 0 10px;
  }

  header .navlinks ul button {
    padding: 8px 30px;
    font-size: 1em;
  }
}
