.reset-pass {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 75px;
}

.reset-pass form {
  background-color: $second-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 320px;
  padding: 25px;
  border-radius: 10px;
}

.reset-pass form h2 {
  font-size: 1.1em;
}

.reset-pass form button {
  margin: 20px 0px;
  padding: 10px 40px;
  background-color: $primary-button;
  border: none;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.reset-pass form button:hover {
  background: $accent;
}

.reset-pass form .success {
  margin: 10px;
}

.reset-pass form .error {
  color: $error;
  font-size: 0.9em;
  text-align: center;
}

.reset-pass form .form__field {
  &:placeholder-shown ~ .form__label {
    font-size: 1.1rem;
  }
}

.reset-pass form .form__field:focus {
  ~ .form__label {
    font-size: 0.9rem;
  }
}
