.edit-account {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: start;
    margin: 0px 0 0 80px;
}

.edit-account .underlines {
    margin-top: 10px;
    width: 260px;
    height: 2px;
    background-color: $accent;
}

.edit-account form {
    background-color: $second-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
    padding: 30px;
    border-radius: 10px;
}

.edit-account form button {
    margin: 20px 0px;
    padding: 10px 40px;
    background-color: $primary-button;
    border: none;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.edit-account form button:hover {
    background: $accent;
}